.card--tips p {
	font-size: 100%;
}
.section__title {
	z-index:9;
}
.section section--perfume__video .section__title {
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -35%;
}
.perfume__img > img,
.experience__img > img {
	top: 25%;
}
.map__img > img {
	top:30%;
}
.company__img {
	top:10%;
}
.productDetail--spec .spec__sale label {
	font-size: 100%;
}
.sovya__caption h1,
.centdegres__caption h1,
.company__caption h1,
.hondo__caption h1 {
	font-weight: 200;
}
.company__caption p {
	margin-bottom:50px;
}

@media (max-width: 767.9px) {
	.knowledge__caption {
		width: 55%;
	}
	.section--perfume__video .section__title {
		padding-bottom:0;
	}
	.section__title.with-line {
		margin-bottom:0;
	}
}
@media (max-width: 991.9px) {
	article img {
		margin-bottom:0px;
	}
	.productDetail--spec .spec__sale label {
		font-size:75%;
	}
	.productDetail--spec .spec__sale {
		margin-bottom:20px;
	}
	.section--about--company {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right;		
	}
	.company__img {
		margin-top:-20%;
	}
	.section__title.with-line h1 {
		font-size:150%;
	}
	.section--about--company,
	.section--about--hondo {
		padding:1rem 0;
	}
	.section--knowledge--tips,
	.section--knowledge--cycle {
		padding: 1rem 0;
	}
	.indexNews__caption p {
		font-size:75%;
		padding-right:20%;
	}
	.knowledge__caption {
		width: 55%;
	}
	.knowledge__caption p {
		font-size:75%;
		padding-right:10%;
	}
}