.logo {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/logo.png");
  background-position: center;
  width: 150px;
  height: 51px; }

.logo__vip {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/logo__vip.png");
  background-position: center;
  width: 25px; }
  .logo__vip:after {
    display: block;
    content: "";
    padding-bottom: 104%; }

.logo__jd {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/logo__jd.png");
  background-position: center;
  width: 25.5px; }
  .logo__jd:after {
    display: block;
    content: "";
    padding-bottom: 101.960784314%; }

.logo__tmall {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/logo__tmall.png");
  background-position: center;
  width: 24.5px; }
  .logo__tmall:after {
    display: block;
    content: "";
    padding-bottom: 106.12244898%; }

.index--pic__entrance__1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__entrance__1.png");
  background-position: center;
  width: 101px; }
  .index--pic__entrance__1:after {
    display: block;
    content: "";
    padding-bottom: 122.772277228%; }

.index--pic__entrance__2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__entrance__2.png");
  background-position: center;
  width: 92.5px; }
  .index--pic__entrance__2:after {
    display: block;
    content: "";
    padding-bottom: 137.297297297%; }

.index--pic__entrance__3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__entrance__3.png");
  background-position: center;
  width: 104.5px; }
  .index--pic__entrance__3:after {
    display: block;
    content: "";
    padding-bottom: 139.71291866%; }

.index--tt__professional {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--tt__professional.png");
  background-position: center;
  width: 627px; }
  .index--tt__professional:after {
    display: block;
    content: "";
    padding-bottom: 14.673046252%; }

.index--tt__product {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--tt__product.png");
  background-position: center;
  width: 557px; }
  .index--tt__product:after {
    display: block;
    content: "";
    padding-bottom: 15.6193895871%; }

.product--bg__1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/product--bg__1.jpg");
  background-position: center;
  width: 1093px; }
  .product--bg__1:after {
    display: block;
    content: "";
    padding-bottom: 32.570905764%; }

.product--bg__2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/product--bg__2.jpg");
  background-position: center;
  width: 1093px; }
  .product--bg__2:after {
    display: block;
    content: "";
    padding-bottom: 32.570905764%; }

.product--bg__3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/product--bg__3.jpg");
  background-position: center;
  width: 1093px; }
  .product--bg__3:after {
    display: block;
    content: "";
    padding-bottom: 32.570905764%; }

.product--bg__4 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/product--bg__4.jpg");
  background-position: center;
  width: 1093px; }
  .product--bg__4:after {
    display: block;
    content: "";
    padding-bottom: 32.570905764%; }

.product--bg__5 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/product--bg__5.png");
  background-position: center;
  width: 1093px; }
  .product--bg__5:after {
    display: block;
    content: "";
    padding-bottom: 32.570905764%; }

.knowledge--pic__1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--pic__1.png");
  background-position: center;
  width: 177px; }
  .knowledge--pic__1:after {
    display: block;
    content: "";
    padding-bottom: 83.615819209%; }

.knowledge--pic__2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--pic__2.png");
  background-position: center;
  width: 232px; }
  .knowledge--pic__2:after {
    display: block;
    content: "";
    padding-bottom: 93.1034482759%; }

.knowledge--pic__3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--pic__3.png");
  background-position: center;
  width: 175px; }
  .knowledge--pic__3:after {
    display: block;
    content: "";
    padding-bottom: 135.428571429%; }

.tt--1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/tt--1.png");
  background-position: center;
  width: 41px; }
  .tt--1:after {
    display: block;
    content: "";
    padding-bottom: 217.073170732%; }

.tt--2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/tt--2.png");
  background-position: center;
  width: 72px; }
  .tt--2:after {
    display: block;
    content: "";
    padding-bottom: 130.555555556%; }

.tt--3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/tt--3.png");
  background-position: center;
  width: 77px; }
  .tt--3:after {
    display: block;
    content: "";
    padding-bottom: 120.779220779%; }

.knowledge--tt__step__1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--tt__step__1.png");
  background-position: center;
  width: 90px; }
  .knowledge--tt__step__1:after {
    display: block;
    content: "";
    padding-bottom: 23.3333333333%; }

.knowledge--tt__step__2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--tt__step__2.png");
  background-position: center;
  width: 90px; }
  .knowledge--tt__step__2:after {
    display: block;
    content: "";
    padding-bottom: 23.3333333333%; }

.knowledge--tt__step__3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--tt__step__3.png");
  background-position: center;
  width: 90px; }
  .knowledge--tt__step__3:after {
    display: block;
    content: "";
    padding-bottom: 23.3333333333%; }

.knowledge--tt__step__4 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--tt__step__4.png");
  background-position: center;
  width: 90px; }
  .knowledge--tt__step__4:after {
    display: block;
    content: "";
    padding-bottom: 23.3333333333%; }

.knowledge--pic__step__1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--pic__step__1.png");
  background-position: center;
  width: 213px; }
  .knowledge--pic__step__1:after {
    display: block;
    content: "";
    padding-bottom: 119.718309859%; }

.knowledge--pic__step__2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--pic__step__2.png");
  background-position: center;
  width: 270px; }
  .knowledge--pic__step__2:after {
    display: block;
    content: "";
    padding-bottom: 85.1851851852%; }

.knowledge--pic__step__3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--pic__step__3.png");
  background-position: center;
  width: 128px; }
  .knowledge--pic__step__3:after {
    display: block;
    content: "";
    padding-bottom: 172.65625%; }

.knowledge--pic__step__4 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--pic__step__4.png");
  background-position: center;
  width: 201px; }
  .knowledge--pic__step__4:after {
    display: block;
    content: "";
    padding-bottom: 110.447761194%; }

.knowledge--bg__cover {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/knowledge--bg__cover.jpg");
  background-position: center;
  width: 1919px; }
  .knowledge--bg__cover:after {
    display: block;
    content: "";
    padding-bottom: 47.4205315268%; }

.about--pic__cover {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--pic__cover.png");
  background-position: center;
  width: 798px; }
  .about--pic__cover:after {
    display: block;
    content: "";
    padding-bottom: 153.884711779%; }

.about--tt__cover {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--tt__cover.png");
  background-position: center;
  width: 553.5px; }
  .about--tt__cover:after {
    display: block;
    content: "";
    padding-bottom: 40.2890695574%; }

.about--logo__centdegres {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__centdegres.png");
  background-position: center;
  width: 188px; }
  .about--logo__centdegres:after {
    display: block;
    content: "";
    padding-bottom: 22.8723404255%; }

.about--pic__company__bg {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--pic__company__bg.png");
  background-position: center;
  width: 311px; }
  .about--pic__company__bg:after {
    display: block;
    content: "";
    padding-bottom: 188.745980707%; }

.about--logo__supplier__1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__1.png");
  background-position: center;
  width: 152px; }
  .about--logo__supplier__1:after {
    display: block;
    content: "";
    padding-bottom: 36.1842105263%; }

.about--logo__supplier__2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__2.png");
  background-position: center;
  width: 137px; }
  .about--logo__supplier__2:after {
    display: block;
    content: "";
    padding-bottom: 38.6861313869%; }

.about--logo__supplier__3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__3.png");
  background-position: center;
  width: 158px; }
  .about--logo__supplier__3:after {
    display: block;
    content: "";
    padding-bottom: 37.9746835443%; }

.about--logo__supplier__4 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__4.png");
  background-position: center;
  width: 152px; }
  .about--logo__supplier__4:after {
    display: block;
    content: "";
    padding-bottom: 34.8684210526%; }

.about--logo__supplier__5 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__5.png");
  background-position: center;
  width: 100px; }
  .about--logo__supplier__5:after {
    display: block;
    content: "";
    padding-bottom: 57%; }

.about--logo__supplier__6 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__6.png");
  background-position: center;
  width: 182px; }
  .about--logo__supplier__6:after {
    display: block;
    content: "";
    padding-bottom: 20.8791208791%; }

.about--logo__supplier__7 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__7.png");
  background-position: center;
  width: 155px; }
  .about--logo__supplier__7:after {
    display: block;
    content: "";
    padding-bottom: 25.8064516129%; }

.about--logo__supplier__8 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__8.png");
  background-position: center;
  width: 127px; }
  .about--logo__supplier__8:after {
    display: block;
    content: "";
    padding-bottom: 29.9212598425%; }

.about--logo__supplier__9 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/about--logo__supplier__9.png");
  background-position: center;
  width: 178px; }
  .about--logo__supplier__9:after {
    display: block;
    content: "";
    padding-bottom: 15.1685393258%; }

.index--pic__entrance__bg__m {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__entrance__bg__m.jpg");
  background-position: center;
  width: 660px; }
  .index--pic__entrance__bg__m:after {
    display: block;
    content: "";
    padding-bottom: 43.1818181818%; }

.index--pic__entrance__bg {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__entrance__bg.jpg");
  background-position: center;
  width: 1489px; }
  .index--pic__entrance__bg:after {
    display: block;
    content: "";
    padding-bottom: 16.319677636%; }

.index--pic__product__bg {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__product__bg.png");
  background-position: center;
  width: 387px; }
  .index--pic__product__bg:after {
    display: block;
    content: "";
    padding-bottom: 245.348837209%; }

.index--pic__cover__m {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__cover__m.png");
  background-position: center;
  width: 605px; }
  .index--pic__cover__m:after {
    display: block;
    content: "";
    padding-bottom: 135.371900826%; }

.index--bg__professional {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--bg__professional.jpg");
  background-position: center;
  width: 1920px; }
  .index--bg__professional:after {
    display: block;
    content: "";
    padding-bottom: 45.3125%; }

.index--bg__professional__m {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--bg__professional__m.jpg");
  background-position: center;
  width: 1500px; }
  .index--bg__professional__m:after {
    display: block;
    content: "";
    padding-bottom: 189.2%; }

.index--pic__product__1 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__product__1.png");
  background-position: center;
  width: 1050px; }
  .index--pic__product__1:after {
    display: block;
    content: "";
    padding-bottom: 100%; }

.index--pic__product__2 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__product__2.png");
  background-position: center;
  width: 1050px; }
  .index--pic__product__2:after {
    display: block;
    content: "";
    padding-bottom: 100%; }

.index--pic__product__3 {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/index--pic__product__3.png");
  background-position: center;
  width: 1050px; }
  .index--pic__product__3:after {
    display: block;
    content: "";
    padding-bottom: 100%; }

.arrow--left {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/arrow--left.png");
  background-position: center;
  width: 22.5px; }
  .arrow--left:after {
    display: block;
    content: "";
    padding-bottom: 191.111111111%; }

.arrow--right {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sprite/arrow--right.png");
  background-position: center;
  width: 22.5px; }
  .arrow--right:after {
    display: block;
    content: "";
    padding-bottom: 191.111111111%; }

/*# sourceMappingURL=sprite.css.map */